@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #8B3A2C;
  --primary-foreground: #ffffff;
  --secondary: #F5A623;
  --secondary-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #A94435;
  --primary-foreground: #ffffff;
  --secondary: #dea02c;
  --secondary-foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}